.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.about-description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-green200);
}

.about-hr {
  border-color: var(--clr-green400);
}

.about-subtitle {
  font-size: var(--size-sm);
  color: var(--clr-light);
}

.about-ul-container {
  display: flex;
}

.about-ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: '\2705';
  padding-left: 1em;
  flex: 1;
  margin-left: 0.5em;
}

.about-list {
  font-size: var(--size-sm);
  color: var(--clr-green200);
}

.about-list::before {
  content: '';
  margin-left: 0.5em;
}

/* xs */
@media (min-width: 475px) {
  .about-content {
    gap: 1.5rem;
  }
  
  .about-title {
    font-size: var(--size-3xl);
  }
  
  .about-description {
    font-size: var(--size-base);
  }
  
  .about-subtitle {
    font-size: var(--size-base);
  }
  
  .about-list {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .about-description {
    max-width: 80ch;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-content {
    flex: 1;
    margin-top: 4.5rem;
  }
  
  .about-title {
    font-size: var(--size-4xl);
  }
  
  .about-description {
    font-size: var(--size-lg);
  }
  
  .about-subtitle {
    font-size: var(--size-lg);
  }
  
  .about-list {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .about-content {
    gap: 2rem;
  }

  .about-title {
    font-size: var(--size-5xl);
  }
  
  .about-description {
    font-size: var(--size-xl);
  }
  
  .about-subtitle {
    font-size: var(--size-xl);
  }
  
  .about-list {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */