.work {
  text-align: center;
}

.work-title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.work-description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-green200);
  margin: 1rem auto 2rem auto;
}

.work-project-title {
  font-size: var(--size-base);
  margin-bottom: 1rem;
}

.work-img {
  border-radius: 1%;
  transition: border-radius 0.15s;
}

.work-img-wrapper {
  position: relative; /* for position absolute to be relative to the imges not the entire site */
}

.work-img-wrapper::after {
  content: '';
  background-color: rgb(6, 182, 212, 0.2);
  filter: drop-shadow(var(--clr-cyan) 0.5rem 0.5rem 1rem);
  border-radius: 1%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-colo 0.3s, filter 0.5s,
    border-radius 0.15s;
}

.work-img-wrapper:hover::after {
  background-color: rgb(6, 182, 212, 0.1);
  filter: none;
  /* opacity: 0; */
  border-radius: 0;
}

.work-img-wrapper:hover .work-img {
  border-radius: 0;
}

.work-project:not(:last-child) {
  margin-bottom: 5rem;
}

.work-project-description1 {
  font-size: var(--size-sm);
  color: var(--clr-green200);
  margin: 1rem 0;
}

.work-project-description2 {
  font-size: var(--size-sm);
  color: var(--clr-green400);
  margin: 1rem 0;
}

.work-project-subtitle {
  display: none;
}

/* xs */
@media (min-width: 475px) {
  .work-title {
    font-size: var(--size-3xl);
  }
  
  .work-description {
    font-size: var(--size-base);
    margin: 1.5rem auto 2.5rem auto;
  }

  .work-project-title {
    font-size: var(--size-lg);
    margin-bottom: 1.5rem;
  }

  .work-project-description1 {
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }
  
  .work-project-description2 {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'image1 content1'
    'content2 image2'
    'image3 content3'
    'content4 image4'
    'image5 content5'
    'content6 image6';
    place-items: center;
    gap: 1rem;
  }

  .work-image1 {
    grid-area: image1;
  }
  
  .work-image2 {
    grid-area: image2;
  }
  
  .work-image3 {
    grid-area: image3;
  }
  
  .work-image4 {
    grid-area: image4;
  }
  
  .work-image5 {
    grid-area: image5;
  }
  
  .work-image6 {
    grid-area: image6;
  }

  .work-content1 {
    grid-area: content1;
  }

  .work-content2 {
    grid-area: content2;
  }

  .work-content3 {
    grid-area: content3;
  }

  .work-content4 {
    grid-area: content4;
  }

  .work-content5 {
    grid-area: content5;
  }

  .work-content6 {
    grid-area: content6;
  }

  .work-project {
    padding: 0 1rem;
  }

  .work-project-title {
    display: none;
  }

  .work-project-description1 {
    font-size: var(--size-xs);
    margin: 1em 0;
  }
  
  .work-project-description2 {
    font-size: var(--size-xs);
  }

  .work-project:not(:last-child) {
    margin-bottom: 0;
  }

  .work-project-subtitle {
    display: block;
    font-size: var(--size-base);
  }
}

/* md */
@media (min-width: 768px) {
  .work-project-description1 {
    font-size: var(--size-sm);
  }
  
  .work-project-description2 {
    font-size: var(--size-sm);
  }

  .work-project-subtitle {
    font-size: var(--size-lg);
  }
}

/* lg */
@media (min-width: 1024px) {
  .work-title {
    font-size: var(--size-4xl);
  }
  
  .work-description {
    font-size: var(--size-lg);
    margin-bottom: 3rem;
  }

  .work-project-description1 {
    font-size: var(--size-base);
    margin: 1.5em 0;
  }
  
  .work-project-description2 {
    font-size: var(--size-base);
  }

  .work-project-subtitle {
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .work-title {
    font-size: var(--size-5xl);
  }
  
  .work-description {
    font-size: var(--size-xl);
    margin: 2rem auto 4rem auto;
  }

  .work-project-description1 {
    font-size: var(--size-lg);
  }
  
  .work-project-description2 {
    font-size: var(--size-lg);
  }

  .work-project-subtitle {
    font-size: var(--size-2xl);
  }

  .work-container {
    width: 80%;
    margin: 0 auto;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .work-container {
    width: 70%;
  }
}